.Open-Skies {
	position: relative;
}
.Open-Skies .instructions {
	border: 1px dashed #666;
	padding: 2px;
	margin: 2px;
}
.Open-Skies-target {
	background-color: rgba(0,0,0,.25);
	position: absolute;
	top: 0;
	width: 100%;
	z-index: 1000;
}
.Open-Skies .manualResourceAdd .dijitButtonNode {
padding: 1px;
}
.Open-Skies .alert-info {
	background-color: #fcf8e3;
	color: #c09853;
	border: 1px dashed #c09853;
	padding: 5px;
}
.Open-Skies .off {
	display: none;
}
.Open-Skies .manualResourceAdd {
	color:#333;
	padding:.1em .1em .1em .3em;
	background:#f7f7f7;
	border:1px solid #ccc;
	margin: 2px;
}
.Open-Skies .manualResourceAdd .fileInput {
	background: white;
	box-shadow: inset 0 0 0 1px #cfcfcf;
}
.Open-Skies .manualResourceAdd .serviceUrlInput {
	border: 1px solid #cfcfcf;
	height: 18px;
}