<div>
	<div class="instructions" data-dojo-attach-point="instructionsNode">Add CSV File to the map</div>
	<!--<div class="alert-info off" data-dojo-attach-point="dndWarningDiv">
	The browser you are using does not support drag-and-drop functionality. Try newer versions of Chrome or Firefox if possible.
	</div>-->
	<div data-dojo-attach-point="containerNode"></div>
	<div data-dojo-attach-point="manualResourceAdd" class="manualResourceAdd">

		<input data-dojo-attach-point="fileInputNode" class="fileInput" type="file" accept=".csv" />
		<div data-dojo-type="dijit/form/Button" data-dojo-attach-point="manualAddButton">${i18n.submit.label}</div>

		<!--<input data-dojo-attach-point="fileInputNode" class="fileInput" type="file" accept=".zip,.csv" />
		<button data-dojo-attach-point="manualAddButton">Add</button>-->
	</div>
</div>