<div>
    <div data-dojo-attach-point="quickDrawButton"></div>
    <span style="display:none;" data-dojo-attach-point="totalLabel">
        <strong>Total (<span data-dojo-attach-point="totalUnits"></span>): </strong>
        <span data-dojo-attach-point="totalValue"></span>
    </span>
    <div data-dojo-attach-point="wayPoints"></div>
    <div style="margin-top:1em;"> 
        <a href="javascript:void(0);" data-dojo-attach-point="addDestLink">Add Destination</a>
        <a href="javascript:void(0);" data-dojo-attach-point="showOptionsLink">Show Options</a>
    </div>
    <div style="display:none;" data-dojo-attach-point="optionsNode">
        <label>Distance Units:</label>
        <div data-dojo-attach-point="distanceUnitsSelect"></div>
    </div>
</div>
