.jstoolkit-icon
{
    width:18px;
    height:18px;
    background-repeat: no-repeat;
}

.jstoolkit-icon-folder
{
    background: url("../images/folder.gif");
    height:20px;
    width:20px;
}

.jstoolkit-icon-arcmap
{
    background: url("../images/arcmap.gif");
    width: 16px;
    height: 16px;
}

.jstoolkit-icon-loading-small
{
    background: url("../images/loading_small.gif");
    width:16px;
    height:16px;
}


.jstoolkit-icon-plus
{
    background: url("../images/plus.gif");
}

.jstoolkit-icon-minus
{
    background: url("../images/minus.gif");
}

.jstoolkit-icon-zoom
{
    background: url("../images/zoom.gif");
    width:16px;
    height:16px;
}

.jstoolkit-icon-gear
{
    background-image: url('../images/gear.png');
}

.jstoolkit-icon-arrow-up
{
    background: url("../images/arrow_up.png");
    width:16px;
    height: 16px;
}

.jstoolkit-icon-arrow-down
{
    background: url("../images/arrow_down.png");
}

.jstoolkit-icon-delete
{
    background: url("../images/delete.png");
    width:16px;
    height: 16px;
}

.jstoolkit-icon-bullet-arrow-down
{
    background-image: url('../images/bullet_arrow_down.png');
}

.jstoolkit-icon-transparency
{
    background-image: url('../images/layer_transparent.png');
}

.jstoolkit-icon-folder-add
{
    background-image: url('../images/folder_add.png');
    width:16px;
    height: 16px;
}

.jstoolkit-icon-folder-refresh
{
    background-image: url('../images/arrow_refresh.png');
}

.jstoolkit-icon-server {
    background-image: url('../images/server.png');
    height:24px;
    width:24px;
}

.jstoolkit-icon-service {
    background-image: url('../images/service.png');
    height:16px;
    width:16px;
}

.jstoolkit-icon-add-large {
    background-image: url('../images/add_large.png');
    height:32px;
    width:32px;
}

.jstoolkit-icon-map-large {
    background-image: url('../images/map_large.png');
    height:32px;
    width:32px;
}

.jstoolkit-icon-map-small {
    background-image: url('../images/map_small.png');
    height:16px;
    width:16px;
}

.jstoolkit-icon-arrow-undo-large {
    background-image: url('../images/arrow_undo_large.png');
    height:32px;
    width:32px;
}

.jstoolkit-icon-esri-large {
    background-image: url('../images/esri_globe.gif');
    height:31px;
    width:32px;
}

/* Map Manager */
.jstoolkit-icon-esri-medium {
    background-image: url('../images/esri_globe_medium.gif');
    height:23px;
    width:24px;
}

.jstoolkit-icon-arrow-left-large {
    background-image: url('../images/arrow_left_large.png');
    height:32px;
    width:32px;
}

.jstoolkit-icon-folder-user-small {
    background-image: url('../images/folder_user_small.png');
    height:16px;
    width:16px;
}

.jstoolkit-icon-folder-user-large {
    background-image: url('../images/folder_user_large.png');
    height:32px;
    width:32px;
}

.jstoolkit-icon-folder-group-small {
    background-image: url('../images/group_small.png');
    height:16px;
    width:16px;
}

.jstoolkit-icon-folder-group-large {
    background-image: url('../images/group_large.png');
    height:32px;
    width:32px;
}

.jstoolkit-icon-folder-delete-large {
    background-image: url('../images/delete_large.png');
    height:32px;
    width:32px;
}

.jstoolkit-icon-arrow-refresh-large {
    background-image: url('../images/arrow_refresh_large.png');
    height:32px;
    width:32px;
}

.jstoolkit-icon-rss-small {
    background-image: url('../images/rss_small.png');
    height:16px;
    width:16px;
}