<div class="gis_ImageryFilter">
        <table>
            <tr>
                <td colspan="5"><b>Select available Imagery for extent:</b></td>
            </tr>
		</table>
	<div class="buttonAction">
        	<span>
			<div data-dojo-type="dijit/form/Button" data-dojo-props="iconClass:'fa fa-search fa-fw'" data-dojo-attach-event="onClick:layerQuery" data-dojo-attach-point="imageFilterDijit">${i18n.searchButton.label}</div>
			<!--<div data-dojo-type="dijit/form/Button" data-dojo-id="clearFp" data-dojo-props="iconClass:'fa fa-check-square-o'" data-dojo-attach-point="imagecheckNode">${i18n.footprint.label}</div>-->
			<!--<div data-dojo-type="dijit/form/Button" data-dojo-id="clearImage" data-dojo-props="iconClass:'fa fa-search fa-fw'" data-dojo-attach-point="ifc">${i18n.imageClear.label}</div>-->
			</span>
	</div>

</div>