<div class="gis_ImageryFilter">
        <table>
            <tr>
                <td colspan="5"><b>Select available Imagery for extent:</b></td>
            </tr>
		</table>
           <!--  <div data-dojo-type="dijit/TooltipDialog">-->
              <!-- <div id="bookmarks">
	       </div>-->
		<!--<span>Imagery</span>-->
		<!-- <div data-dojo-type="dijit/TooltipDialog">	-->
	<div class="buttonAction">		
		 <!-- <span data-dojo-attach-point="dropSelect">-->
		  <!--  <select data-dojo-attach-point="mySelect" class="comboClass" data-dojo-type="dijit/form/ComboBox"></select>-->
        	<span>	<div data-dojo-type="dijit/form/Button" data-dojo-props="iconClass:'fa fa-search fa-fw'" data-dojo-attach-event="onClick:layerQuery" data-dojo-attach-point="imageFilterDijit">${i18n.searchButton.label}</div>
					<div data-dojo-type="dijit/form/Button" data-dojo-id="myToggleButton" data-dojo-props="iconClass:'fa fa-check-square-o'" data-dojo-attach-event="onClick:footPrint" data-dojo-attach-point="imagecheckNode">${i18n.footprint.label}</div>
			</span>	
			
	<!--	    <button data-dojo-attach-point="clearButton" data-dojo-type="dijit/form/Button" type="reset">Clear</button>
		    <button data-dojo-attach-point="findImagery" data-dojo-type="dijit/form/Button" type="submit">Clear</button>-->
	<!--	  </span></br>	-->				
	</div>
          <!--   </div>-->
         <!--</div>-->
</div>