<div>
<div data-dojo-type="dijit/layout/TabContainer" data-dojo-props="doLayout:false" tabStrip="true" data-dojo-attach-point="tabContainer" class="tabContainer">
<div data-dojo-type="dijit/layout/ContentPane" data-dojo-props="doLayout:false" title="${i18n.tabTitleByAttribute.label}" class="searchTab" selected="true">
	<!--<div>
	   <label>${i18n.selLayer.label}:</label><br>
	   <select style="width:100%;" data-dojo-attach-point="ImageryDijit" data-dojo-type="dijit/form/Select" data-dojo-attach-event="onChange:onlayerChange"></select>
	</div>-->
<div id="QueryText">
	<label>${i18n.searchAtt.label}:</label></br>
	    	<input type="text" style="width:100%;" data-dojo-type="dijit/form/TextBox" data-dojo-attach-point="inputSearch" data-dojo-props="trim:true" />
		  	<table style="width: 100%;">
		    	<tr>
		      	<td style="text-align: center">
		<div data-dojo-type="dijit/form/Button" data-dojo-props="iconClass:'fa fa-search fa-fw'" data-dojo-attach-event="onClick:attQuery">${i18n.searchButtonAtt.label}</div>
		        </td>
		    	</tr>
		  	</table>
</div>
</div>
<div data-dojo-type="dijit/layout/ContentPane" data-dojo-props="doLayout:false" class="searchTab" title="${i18n.tabTitleByShape.label}">
	<div class="buttonAction">
		<label>${i18n.searchExtent.label}:</label><br>
		  <table style="width: 100%;">
		    <tr>
			<td style="text-align: center">
			<div data-dojo-type="dijit/form/Button" data-dojo-props="iconClass:'fa fa-search fa-fw'" data-dojo-attach-event="onClick:extentQuery">${i18n.searchButton.label}</div>
			</td>
		    </tr>
		  </table>
	</div>
</div>
</div>
</div>