
<div class="dijitCoord" style="overflow:hidden;width:500px">
    
        <!--<div data-dojo-attach-point="ddlCoord" style="float:right;width:150px"> 
            <select name="mydropdown">
            <option value="coordDMS">Degrees Min Sec</option>
            <option value="coordDM">Degrees & Minutes</option>
            <option value="coordDD">Decimal Degrees</option>
            <option value="coordMC">Map Coordinates</option>
            <option value="coordUTM">UTM</option>
            <option value="coordMGRS">MGRS</option>           
        </select>
            </div> -->

    <div data-dojo-type="dijit/form/DropDownButton" data-dojo-attach-point="dropDownButton" style="float:right">
        <span>
            ${title}
        </span>
    </div>
    <div id="coords" data-dojo-attach-point="lblCoordInfo" style="text-align:right; float:right;padding-top:1px;">
        <label></label>
    </div>

</div>
