<style>
    hr { 
    display: block;
    margin-top: 0.5em;
    margin-bottom: 0.5em;
    margin-left: auto;
    margin-right: auto;
    border-style: inset;
    border-width: 1px;
} 


</style>

<!--
  var DocumentContainer = document.getElementById('mapCenter_root');
        var html = '
<html>
<head>
    '+

    '
</head>
<body>
    '+
    DocumentContainer.innerHTML+
    '
</body>
</html>';

    var WindowObject = window.open('', 'PrintWindow', 'width=750,height=650,top=50,left=50,toolbars=no,scrollbars=yes,status=no,resizable=yes');
    WindowObject.document.writeln(html);
    WindowObject.document.close();
    WindowObject.focus();
    WindowObject.print();
    WindowObject.close();
    document.getElementById('mapCenter_root').style.display='block';

-->



<div style="position:absolute;bottom:0;left:0;z-index:40;">


    <div id="mapInfoDijit">
    </div>

</div>
<div style="position:absolute;top:20px;left:60px;z-index:40;">
    <div id="afBookmarksDijit">
    </div>
</div>
<div style="position:absolute;top:20px;right:20px;z-index:40;">
    <div id="basemapsDijit">
    </div>
</div>
<div style="position:absolute;top:60px;right:20px;z-index:40;width:250px;">
    <div id="growlerDijit">
    </div>
</div>
<div style="position:absolute;bottom:20px;right:20px;z-index:40;">
    <div id="coordinateViewDijit">
    </div>
</div>
<div style="position: absolute;left:19px;top:94px;z-index:40;">
    <div id="homeButton">
    </div>
    <div id="locateButton">
    </div>
</div>
<div style="position:absolute;top:20px;left:64px;z-index:40;">
    <div id="geocoderButton">
    </div>
</div>